@import "tailwindcss";

@font-face {
  font-family: "Polly Rounded";
  src: url("/src/assets/fonts/polly-rounded-regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Franks";
  src: url("/src/assets/fonts/Franks.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-12px); }
  100% { transform: translateY(0px); }
}

@keyframes whatsPulse {
  0%,100% { transform: scale(1); }
  50% { transform: scale(1.08); }
}

@keyframes chatIn {
  from {
    opacity: 0;
    transform: translateY(40px) scale(.95);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes bubbleIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Franks", sans-serif !important;
}

span, p, a, li, button {
  font-family: "Polly Rounded", sans-serif !important;
}